<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Conect Dev</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <link rel="stylesheet" href="/assets/css/login.css" />
</head>
<body class="page-login">
    <header>
        <div class="container">
            <a href=""><img src="/assets/images/conectdev_logo.svg" /></a>
        </div>
    </header>
    <section class="container main">
        <div class="message">{{message}}</div>
        <form method="POST" action="/login_action">
            <label class="auth-field">
                <span>E-mail</span>
                <input placeholder="Digite seu e-mail" class="auth-input" name="email" />
            </label>

            <label class="auth-field">
                <span>Senha</span>
                <input placeholder="Digite sua senha" class="auth-input" type="password" name="password" />
            </label>

            <input class="button" type="submit" value="Acessar o sistema" />

            <a href="register">Ainda não tem conta? Cadastre-se</a>
        </form>
    </section>
    {{> footer}}

</body>
</html>
