 <aside class="mt-10 asidebar">
        <nav>
          <a href="/">
            <div class="menu-item{{#active.home}} active{{/active.home}}">
              <div class="menu-item-icon">
                <i class="fas fa-home fa-fw" aria-hidden="true"></i>
              </div>
              <div class="menu-item-text">Home</div>
            </div>
          </a>


          <a href="/perfil/{{user.id}}">
            <div class="menu-item{{#active.perfil}} active{{/active.perfil}}">
              <div class="menu-item-icon">
                <i class="fas fa-user fa-fw" aria-hidden="true"></i>
              </div>
              <div class="menu-item-text">Meu Perfil</div>
            </div>
          </a>
          <a href="/friends/{{user.id}}">
           <div class="menu-item{{#active.friends}} active{{/active.friends}}">
              <div class="menu-item-icon">
                <i class="fas fa-user-friends fa-fw" aria-hidden="true"></i>
              </div>
              <div class="menu-item-text">Amigos</div>
              <div class="menu-item-badge">{{countFriends}}</div>
            </div>
          </a>
          <a href="/photos/{{user.id}}">
             <div class="menu-item{{#active.photo}} active{{/active.photo}}">
              <div class="menu-item-icon">
                <i class="fas fa-image fa-fw" aria-hidden="true"></i>
              </div>
              <div class="menu-item-text">Fotos</div>
            </div>
          </a>
          <div class="menu-splitter"></div>
          <a href="/config">
           <div class="menu-item{{#active.config}} active{{/active.config}}">
              <div class="menu-item-icon">
                <i class="fas fa-cog fa-fw" aria-hidden="true"></i>
              </div>
              <div class="menu-item-text">Configurações</div>
            </div>
          </a>
          <a href="/logout">
              <div class="menu-item{{#active.logout}} active{{/active.logout}}">
              <div class="menu-item-icon">
                <i class="fas fa-sign-out-alt fa-fw" aria-hidden="true"></i>
              </div>
              <div class="menu-item-text">Sair</div>
            </div>
          </a>
        </nav>
      </aside>
